{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="max-w-7xl mx-auto py-10 md:py-24 px-4">
    <div class="flex flex-col md:flex-row gap-6 justify-center">
        <div class="w-full md:w-1/3 px-4 md:px-6 py-8 border rounded text-center h-full">



            <img src="{{profile.profile_image.url}}" class="h-32 w-32 mx-auto rounded-full mb-3 object-cover object-top"
                alt="">

            <h2 class="text-3xl font-bold mt-3 text-white">{{profile.name}}</h2>
            <p class="text-lg font-semibold text-gray-200 mt-3">
                {{profile.short_intro}}
            </p>
            <p class="text-base text-gray-400 mt-3">
                Based in {{profile.location}}
            </p>

            <div class="flex flex-wrap items-center gap-4 cursor-pointer justify-center mt-3 mb-6">
                {% if profile.social_github %}
                <a href="{{profile.social_github}}" target="_blank" class="text-indigo-500 text-2xl"><i
                        class="fab fa-github"></i></a>
                {% endif %}
                {% if profile.social_twitter %}
                <a href="{{profile.social_twitter}}" target="_blank" class="text-indigo-500 text-2xl"><i
                        class="fab fa-twitter"></i></a>
                {% endif %}
                {% if profile.social_linkedin %}
                <a href="{{profile.social_linkedin}}" target="_blank" class="text-indigo-500 text-2xl"><i
                        class="fab fa-linkedin-in"></i></a>
                {% endif %}
                {% if profile.social_youtube %}
                <a href="{{profile.social_youtube}}" target="_blank" class="text-indigo-500 text-2xl"><i
                        class="fab fa-youtube"></i></a>
                {% endif %}
                {% if profile.social_website %}
                <a href="{{profile.social_website}}" target="_blank" class="text-indigo-500 text-2xl"><i
                        class="fa fa-globe"></i></a>
                {% endif %}
            </div>

            <a href="{% url 'edit-account' %}" class="px-6 py-2 bg-[#242526] text-white rounded text-base">
                Edit Profile</a>

            <!-- <button
                class="w-full text-gray-900  bg-indigo-500 border-0 py-1 px-3 md:py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded text-base mt-4 md:mt-0 text-white">Send
                Message</button> -->

        </div>
        <div class="w-full md:w-2/3 px-3">

            <h2 class="text-3xl font-bold text-white uppercase mb-3">About Me <h2>
                    <p class="text-base text-gray-400 text-justify">
                        {{profile.bio}}
                    </p>

                    <div class="flex items-center justify-between mt-3 mb-1">
                        <h2 class="text-3xl font-bold  text-white uppercase">Skills</h2>

                        <a href="{% url 'create-skill' %}" class="px-6 py-2 bg-[#242526] text-white rounded text-lg"><i
                                class="fa fa-plus mr-1"></i> Add Skill</a>
                    </div>
                    {% for skill in profile.skill_set.all %}

                    <div class="flex flex-col md:flex-row gap-5 border-b py-4 items-center border-[#242526]">
                        <div class="w-full md:w-4/5">

                            <div class=" w-full md:w-1/4 text-lg font-semibold text-white">{{skill.name}}</div>
                            {% if skill.description %}
                            <div class=" w-full text-base text-gray-300 text-justify pb-2">{{skill.description}}
                            </div>
                            {% endif %}

                        </div>
                        <div class="w-full md:w-1/5">
                            <div class="flex flex-row md:flex-col items-center justify-start md:justify-center gap-3">
                                <a href="{% url 'update-skill' skill.id %}"
                                    class=" px-3 py-1 bg-[#242526] text-white rounded text-base"><i
                                        class="fa fa-edit mr-1"></i> Edit</a>
                                <a href="{% url 'delete-skill' skill.id %}?next=/account"
                                    class=" px-3 py-1 bg-[#242526] text-white rounded text-base"><i
                                        class="fa fa-times mr-1"></i> Delete</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}






                    <div class="flex items-center justify-between my-6">
                        <h2 class="text-3xl font-bold  text-white uppercase">Projects</h2>

                        <a href="{% url 'create-project' %}"
                            class="px-6 py-2 bg-[#242526] text-white rounded text-lg"><i class="fa fa-plus mr-1"></i>
                            Add Project</a>
                    </div>


                    {% for project in projects %}
                    <div class="flex flex-col md:flex-row items-center gap-4 mb-5 py-5 border-b border-[#242526]">
                        <div class="w-full md:w-1/6">
                            <a href="{% url 'project' project.id %}"><img src="{{project.image.url}}" alt=""></a>
                        </div>
                        <div class="w-full md:w-4/6">
                            <a href="{% url 'project' project.id %}">
                                <h2 class="text-2xl font-semibold text-white mb-2">{{project.title}}</h2>
                            </a>
                            <p class="text-base text-gray-400">{{project.description | slice:"120"}}...</p>
                        </div>
                        <div class="w-full md:w-1/6">
                            <div class="flex flex-row md:flex-col items-center justify-start md:justify-center gap-3">
                                <a href="{% url 'update-project' project.id %}"
                                    class=" px-3 py-1 bg-[#242526] text-white rounded text-base"><i
                                        class="fa fa-edit mr-1"></i> Edit</a>
                                <a href="{% url 'delete-project' project.id %}?next=/account"
                                    class=" px-3 py-1 bg-[#242526] text-white rounded text-base"><i
                                        class="fa fa-times mr-1"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

        </div>
    </div>
</div>

{% endblock %}