{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="max-w-7xl mx-auto py-10 px-5">

    <form method="POST" action=""
        class="md:w-1/2 bg-white rounded-lg p-8 flex flex-col mx-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
        {% csrf_token %}

        <a href="{% url 'user_profile' recipient.id %}"
            class="bg-gray-200 rounded-full w-10 h-10 flex items-center justify-center text-xl mb-3 cursor-pointer">
            <i class="fa fa-angle-left"></i>
        </a>

       

        {% if request.user.is_authenticated == False %}

        <div class="relative mb-4">
            <label for="name" class="leading-7 text-sm text-gray-600">{{form.name.label}}</label>
            {{form.name}}
        </div>

        <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">{{form.email.label}}</label>
            {{form.email}}
        </div>

        {% endif %}

        <div class="relative mb-4">
            <label for="subject" class="leading-7 text-sm text-gray-600">{{form.subject.label}}</label>
            {{form.subject}}
        </div>

        <div class="relative mb-4">
            <label for="body" class="leading-7 text-sm text-gray-600">{{form.body.label}}</label>
            {{form.body}}
        </div>



        <button type="submit"
            class=" text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
    </form>

</div>


{% endblock content %}